@import "tailwindcss";

.font-roboto { font-family: 'Roboto', sans-serif; }
.font-inter { font-family: 'Inter', sans-serif; }
.font-cinzel { font-family: 'Cinzel', serif; }
.font-unifraktur { font-family: 'UnifrakturCook', cursive; }
.font-jura { font-family: 'Jura', sans-serif; }
.font-tinos { font-family: 'Tinos', serif; }
.font-cormorant { font-family: 'Cormorant Garamond', serif; }
.font-zen { font-family: 'Zen Antique', serif; }
.font-zeyada { font-family: 'Zeyada', cursive; }
.font-bebas { font-family: 'Bebas Neue', cursive; }
.font-pressstart { font-family: 'Press Start 2P', monospace; }
.font-poppins { font-family: "Poppins", sans-serif; font-weight: 400; font-style: normal;}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-zinc-900 text-zinc-50 h-[200vh];
    background-image: url("data:image/svg+xml,%3Csvg opacity='0.18' width='60' height='30' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='white' cx='25' cy='25' r='2.5'/%3E%3C/svg%3E");
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 150%);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
